{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  <strong>
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </strong>
  {% if post.excerpt %}
    <br>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
  {% endif %}
  {% if post.venue %}
    <br><em>{{ post.venue }}{% if post.date %}, {{ post.date | default: "1900-01-01" | date: "%Y" }}{% endif %}</em>
  {% endif %}
  {% if post.paperurl or post.pdfurl or post.arxivurl or post.htmlurl or post.doiurl or post.citation or post.code or post.project_page %}
    <br>
    {% if post.paperurl %}[<a href="{{ post.paperurl }}">paper</a>]{% endif %}
    {% if post.pdfurl %}[<a href="{{ post.pdfurl }}">pdf</a>]{% endif %}
    {% if post.arxivurl %}[<a href="{{ post.arxivurl }}">arXiv</a>]{% endif %}
    {% if post.htmlurl %}[<a href="{{ post.htmlurl }}">html</a>]{% endif %}
    {% if post.doiurl %}[<a href="{{ post.doiurl }}">doi</a>]{% endif %}
    {% if post.citation %}[<a href="{{ post.citation }}">cite</a>]{% endif %}
    {% if post.code %}[<a href="{{ post.code }}">code</a>]{% endif %}
    {% if post.project_page %}[<a href="{{ post.project_page }}">project</a>]{% endif %}
  {% endif %}
</li>
